config BOARD_HYDROGEN1_NEXYS4DDR
    bool "Hydrogen1 Nexys4DDR board"
    depends on SOC_RISCV32_ELEMENTS_VEXRISCV
    select HAS_DTS
    select RISCV

config BOARD_HYDROGEN1_ECP5EVN
    bool "Hydrogen1 ECP5 Evaluation Board"
    depends on SOC_RISCV32_ELEMENTS_VEXRISCV
    select HAS_DTS
    select RISCV
