# Copyright (c) 2025 aesc silicon
# SPDX-License-Identifier: Apache-2.0

# Serial Driver
CONFIG_SERIAL=y

# GPIO Driver
CONFIG_GPIO=y
#CONFIG_GPIO_ELEMENTS_INTERRUPT=y

# Enable Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

#CONFIG_DEBUG_COREDUMP=y
#CONFIG_DEBUG_COREDUMP_BACKEND_LOGGING=y
#CONFIG_LOG=y
#CONFIG_LOG_MODE_IMMEDIATE=y
