# Copyright (c) 2024 aesc silicon
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_HELIUM
	bool
	select SOC_FAMILY_ELEMENTS_VEXRISCV

config SOC_HELIUM1
	bool
	select SOC_SERIES_HELIUM

config SOC_HELIUM2
	bool
	select SOC_SERIES_HELIUM

config SOC_SERIES
	default "helium" if SOC_SERIES_HELIUM

config SOC
	default "helium1" if SOC_HELIUM1
	default "helium2" if SOC_HELIUM2
