config BOARD_HELIUM1_ECPIX5
    bool "Helium1 ECPIX-5 board"
    depends on SOC_RISCV32_ELEMENTS_VEXRISCV
    select HAS_DTS
    select RISCV

config BOARD_HELIUM2_NEXYSA7
    bool "Helium2 Nexys A7 board"
    depends on SOC_RISCV32_ELEMENTS_VEXRISCV
    select HAS_DTS
    select RISCV
