# SPDX-FileCopyrightText: 2026 Aesc Silicon
# SPDX-License-Identifier: Apache-2.0

config I2C_AESC
	bool "Aesc Silicon I2C controller driver"
	default y
	depends on DT_HAS_AESC_I2C_ENABLED
	help
	  Enable I2C controller support
