# Kconfig.elements - Elements UART configuration option
#
# Copyright (c) 2023 aesc silicon
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig UART_ELEMENTS
	bool "Elements UART driver"
	depends on SOC_SERIES_RISCV32_ELEMENTS_VEXRISCV
	select SERIAL_HAS_DRIVER
	help
	  Enable the Elements UART driver.
