# SPDX-FileCopyrightText: 2026 Aesc Silicon
# SPDX-License-Identifier: Apache-2.0

config PWM_AESC
	bool "Aesc Silicon PWM driver"
	default y
	depends on DT_HAS_AESC_PWM_ENABLED
	help
	  Enable the Aesc Silicon PWM driver.
