# SPDX-FileCopyrightText: 2026 Aesc Silicon
# SPDX-License-Identifier: Apache-2.0

config RESET_AESC
	bool "Aesc Silicon reset controller driver"
	default y
	depends on DT_HAS_AESC_RESET_CONTROLLER_ENABLED
	help
	  Enable the Aesc Silicon reset controller driver. The IP core only
	  supports pulsing a reset domain, so only reset_line_toggle() is
	  implemented.
